{% extends "base.html" %}
{% load static %}
{% block title %}
  Character sheets
{% endblock %}
{% block content %}
<div class="container text-center my-5 w-50">

  <h1 class="mb-4">Character Sheets  {%if is_gm%}[gm]{%endif%}</h1>
  <div class="characters_container mb-4 border border-danger p-4 rounded bg-light shadow">
      {% for char in characters %}
      <div class="character my-2">
          <a href="{% url 'charlist:CharListStats' session_id=session_id char_id=char.id %}" class="btn btn-outline-danger w-25">{{ char.name }}</a>
      </div>
      {% endfor %}
  </div>
  <div class="char_add_container">
      <a href="{% url 'charlist:CharCreator' session_id=session_id %}" class="btn btn-danger btn-lg">Create new character</a>
  </div>
</div>
{% endblock %}