{% load static %}
{% load get_item%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Charlist</title>
  <link rel="stylesheet" href="{%static 'charlist/styles.css'%}">
  <script src="{%static "charlist/js/scripts.js"%}"></script>
</head>
<body>
  <div class="abilities_container">
    <div class="ability header">
      <h1>Score</h1>
      <h1>Ability</h1>
      <h1>Mod</h1>
      <h1>Mod + 1/2lvl</h1>
    </div>
    {%for ability in abilities%}
    <div class="ability">
      <!-- Это берется из источников -->
      <input type="number" name="{{ability}}" value="{{user_value.abilities|get_item:ability}}" id="{{ability}}" readonly/>
      <label for="{{ability}}">{{ability}}</label>
      <!-- Тут вычисления через js -->
      <input type="number" name="{{ability}}-mod" id="{{ability}}-mod" readonly/>
      <input type="number" name="{{ability}}-mod-plus" id="{{ability}}-mod-plus" readonly/>
    </div>
    {%endfor%}
  </div>
  <div class="senses_container">
    <div class="sense header">
      <h1>Score</h1>
      <h1>Passive sense</h1>
      <h1>Skill bonus</h1>
    </div>
    {%for sense in senses%}
    <div class="sense">
      <!-- Тут вычисления через js -->
      <input type="number" name="{{sense}}" id="{{sense}}" readonly/>
      <label for="{{sense}}">{{sense}}</label>
      <input type="number" name="{{sense}}-bonus" id="{{sense}}-bonus" readonly/>
    </div>
    {%endfor%}
  </div>
    

</body>

</html>