{% extends "base.html" %}
{% load static %}
{% block title %}
    Сreating a new character
{% endblock %}
{% block content %}
<div class="container text-center my-5">
    <h1 class="mb-4">Сreating a new character</h1>
    <div class="d-flex justify-content-center align-items-center">
        <form action="{% url 'charlist:AddChar' session_id=session_id %}" method="POST" class="form-inline mx-auto w-25">
            {% csrf_token %}
            <fieldset class="form-group mb-3 border border-danger p-4 rounded bg-light shadow">
                <label for="name" class="sr-only">Name</label>
                <input type="text" name="name" id="name" class="form-control" required minlength="2" placeholder="Enter a name">
            </fieldset>
            <button type="submit" class="btn btn-danger">Create</button>
        </form>
    </div>
</div>
{% endblock %}
