{% load static %}
{% load get_item%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Characters</title>
  <link rel="stylesheet" href="{%static 'charlist/styles.css'%}">
</head>
<body>
    <div class="characters_container">
        {%for char in characters%}
        <div class="character">
          <!-- Это берется из источников -->
            <a href="{% url 'charlist:CharListStats' session_id=session_id char_id=char.id%}">{{char.name}}</a>
        </div>
        {%endfor%}
    </div>


</body>

</html>