{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}
  Character Sheet
{% endblock %}
{% block content %}
<!-- Forgive me for my sin of putting style in html -->
<div id="saving-indicator" class="bg-danger p-3 rounded shadow text-white position-fixed top-0 start-0 m-3" style="
display: none;
z-index: 9999; 
">Saving...</div>
<div id="char-id" data-char-id="{{ character_id }}" style="display:none;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-5 mb-4">
            <h1 class="text-center" onclick="toggleVisibility('senses')">
                SENSES <span id="icon-senses" class="toggle-icon">▼</span>
            </h1>
            <div id="senses" class="bg-light p-3 rounded shadow" style="display: none;">
                {% include "includes/senses.html" %}
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <h1 class="text-center" onclick="toggleVisibility('defenses')">
                DEFENSES <span id="icon-defenses" class="toggle-icon">▼</span>
            </h1>
            <div id="defenses" class="bg-light p-3 rounded shadow" style="display: none;">
                {% include "includes/defenses.html" %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <h1 class="text-center" onclick="toggleVisibility('character')">
                CHARACTER <span id="icon-character" class="toggle-icon">▼</span>
            </h1>
            <div id="character" class="bg-light p-3 rounded shadow" style="display: none;">
                {% include "includes/general_characteristics.html" %}
            </div>

            <h1 class="text-center" onclick="toggleVisibility('abilities')">
                ABILITIES <span id="icon-abilities" class="toggle-icon">▼</span>
            </h1>
            <div id="abilities" class="bg-light p-3 rounded shadow h-50" style="display: none;">
                {% include "includes/abilities.html" %}
            </div>
        </div>

        <div class="col-md-6 mb-3 d-flex flex-column justify-content-between">
            <h1 class="text-center" onclick="toggleVisibility('skills')">
                SKILLS <span id="icon-skills" class="toggle-icon">▼</span>
            </h1>
            <div id="skills" class="bg-light p-3 rounded shadow" style="display: none;">
                {% include "includes/skills.html" %}
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/charlist_scripts.js' %}"></script>
<!-- load in jquery from google's server -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
