{% extends "base.html" %}
{% load static %}
{% load get_item %}
{% block title %}
    Сreating a new session
{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <form action="{% url 'charlist:AddSession' %}" method="POST" class="border border-danger p-4 rounded bg-light shadow">
        {% csrf_token %}
        <fieldset class="mb-3">
            <label for="name" class="form-label">Session Name</label>
            <input type="text" name="name" id="name" required minlength="2" class="form-control" placeholder="Enter session name">
        </fieldset>
        <button type="submit" class="btn btn-danger w-100">Create</button>
    </form>
</div>
{% endblock %}