{% load static %}
{% load get_item%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sessions</title>
  <link rel="stylesheet" href="{%static 'charlist/styles.css'%}">
  <script src="{%static " charlist/js/scripts.js"%}"></script>
</head>

<body>
  <div class="sessions_container">
    {%for session in sessions%}
    <div class="session">
      <!-- Это берется из источников -->
      <a href="{% url 'charlist:CharSelector' session_id=session.info.id%}">{{session.info.name}}</a>
      <button onclick="copyToClipboard(this,'{{ session.invite_link }}')">Copy Invite Link</button>
    </div>
    {%endfor%}
  </div>
  <script>
    function copyToClipboard(button, url) {
      navigator.clipboard.writeText(url).then(
        () => {
          button.innerText = 'Copied!'; // Change button text to "Copied!"
          setTimeout(() => {
            button.innerText = 'Copy Invite Link'; // Reset button text after a delay
          }, 2000); // Change back after 2 seconds
        },
        err => console.error('Could not copy text: ', err) // Log the error
      );
    }

  </script>

</body>

</html>