{% load filters %}
<form data-form-name="abilities" data-form-type="handwritten">
  {% csrf_token %}
  <div class="container my-4 border border-danger p-4 rounded bg-light shadow">
    <div class="row text-center bg-danger text-white py-2">
      <div class="col">
        <h5>Score</h5>
      </div>
      <div class="col">
        <h5>Ability</h5>
      </div>
      <div class="col">
        <h5>Mod</h5>
      </div>
      <div class="col">
        <h5>Mod + ½ lvl</h5>
      </div>
    </div>
    {% for ability in abilities %}
    <div class="row align-items-center py-2 border-bottom">
        <div class="col">
            <!-- Добавляем класс "ability-input" -->
            <input type="number" class="form-control ability-input" name="{{ ability }}"
                   value="{{ abilities_data|get_item:ability }}" id="{{ ability }}" />
        </div>
        <div class="col text-center">
            <label for="{{ ability }}" class="form-label">{{ ability|title }}</label>
        </div>
        <div class="col">
            <input type="number" class="form-control" name="{{ ability }}-mod" id="{{ ability }}-mod" readonly />
        </div>
        <div class="col">
            <input type="number" class="form-control" name="{{ ability }}-mod-plus" id="{{ ability }}-mod-plus" readonly />
        </div> 
    </div>
    {% endfor %}    
  </div>
</form>