{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: pink">
    <div class="container">
      <a class="navbar-brand" href="{% url 'charlist:SessionSelector' %}">
        <img src="{% static 'img/logo.png' %}" width="50" height="50" class="d-inline-block align-top" alt="">
        <h1 class="d-inline-block align-top">DnD4 Character List</h1>
      </a>
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav  nav-pills">
          {% if user.is_authenticated %}
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-danger btn-lg rounded">
                  <a class="text-decoration-none text-reset" href="{% url 'charlist:SessionCreator' %}">Create session</a>
              </button>
              <button type="button" class="btn btn-outline-danger btn-lg rounded" style="display: inline; margin-left: 10px;">
                  <a class="text-decoration-none text-reset" href="{% url 'charlist:SessionSelector' %}">My sessions</a>
              </button>
              <form action="{% url 'user:logout' %}" method="post" style="display: inline; margin-left: 40px;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-danger btn-lg square-btn">Log Out</button>
              </form>
          </div>        
          {% else %}
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-danger"><a class="text-decoration-none text-reset"
                  href="{% url 'user:login' %}">Sign In</a></button>
              <button type="button" class="btn btn-outline-danger"><a class="text-decoration-none text-reset"
                  href="{% url 'user:registration' %}">Sign Up</a></button>
            </div>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>