<div class="container my-4 border border-danger p-4 rounded bg-light shadow">
    <div class="row text-center bg-danger text-white py-2">
      <div class="col">
        <h5>Trained</h5>
      </div>
      <div class="col">
        <h5>Score</h5>
      </div>
      <div class="col">
        <h5>Skill Name</h5>
      </div>
      <div class="col">
        <h5>Dependent</h5>
      </div>
    </div>
    {% for skill in skills %}
    <div class="row align-items-center py-2 border-bottom">
      <div class="col text-center">
        <input type="checkbox" class="form-check-input" />
      </div>
      <div class="col text-center">
        <div class="skill_value border rounded py-1 px-3" id="{{ skill }}" name="{{ skill }}">0</div>
      </div>
      <div class="col text-center">
        <label for="{{ skill }}" class="form-label">{{ skill|title }}</label>
      </div>
      <div class="col text-center">
        <div class="skill_dependent">-</div>
      </div>
    </div>
    {% endfor %}
  </div>
  