.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

.defenses_grid{
  --repeats: 3
}

.abilities_grid{
  --repeats: 4
}

.senses_grid{
  --repeats: 3
}

.skills_grid{
  --repeats:4
}

.stat_row {
  display: contents;
}
.stat_row label {
  grid-column: span 1;
}

.stat_row input {
  width: 30px;
}

.header{
  font-weight: bold;
  display: contents;
  grid-column: span var(--repeats);
}

.grid_container{
  border-bottom: 5px solid black;
  display: grid;
  grid-template-columns: repeat(var(--repeats), 1fr);
  gap: 10px;
}

